<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Details</title>
</head>
<body>

<% if (fileContent) { %>
    <p><%= fileContent %></p>
<% } else { %>
    <p>No data Found</p>
<% } %>

</body>
</html>