<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Files</title>
</head>
<body>
<h1>Files in the data folder</h1>
<% if (files) { %>
    <ul>
        <% files.forEach(file => { %>
            <li class="file-item" data-file="<%= file %>">
                <button onclick="displayContent('<%= file %>')"><%= file %></button>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No Files Found</p>
<% } %>

<script >
    function displayContent(fileName) {
        window.location.href = `/detail?fileName=${encodeURIComponent(fileName)}`;
        console.log("clicked:" + fileName)
    }
</script>
</body>
</html>